.checkoutinput-section {
}

.checkoutinput-section p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  font-size: x-large;
}

.checkoutinput-button {
}

.checkoutinput-name {
}
.checkoutinput-tell-container {
  display: flex;
  gap: 5px;
}

.checkoutinput-tell-input {
  width: 50px;
}
