.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  gap: 50px;
  background-color: #efefef;
}

.footer-title {
  text-align: center;
  padding-top: 20px;
  margin: 0px;
}

.left-section {
  margin: 20px;
  text-align: left;
}

.google-map {
  width: 500px;
  height: 300px;
}
